@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.links-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

body {
    margin: 8px;
}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.likes {
    display: flex;
    gap: 8px;
}
